nav {
    width: 100%;
    margin-bottom: 0;
    position: fixed; 
  }
  
  .menu {
    padding: 8px;
    background-color: darkgreen;
    margin-bottom: 0;
  }

  .menu ul {
    margin-bottom: 0;
  }
  
  .menu li {
    display: inline;
  }

  .menu div {
    display: inline;
  }
  
  .menu-item {
    font-size: 1.5em;
    color: white;
    padding: 8px;
    text-decoration: none;
  }
  
  .menu-item:hover {
    background-color:forestgreen;
  }
  
  .active {
    background-color:forestgreen;
  }

  .example-spacer {
    flex: 1 1 auto;
}

.select-container{
  position:fixed;
  right: 20px;
  top:0px;
}

.select-container label{
  font-size: 1.5em;
  color: white;
  padding: 8px;
  text-decoration: none;
}