<nav>
    <ul class="menu">
      <li><a class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <div *ngIf="!loggedIn">
        <li><a class="menu-item" routerLink="/login" routerLinkActive="active">Login</a></li>
    </div>  
    <div *ngIf="!loggedIn">
      <li><a class="menu-item" routerLink="/register" routerLinkActive="active">Register</a></li>
    </div>  
    <div *ngIf="loggedIn">
  
      <li><a class="menu-item" (click)="logoutUser()">Logout</a></li>
    </div>
    <div *ngIf="loggedIn">
  
      <li><a class="menu-item" routerLink="/profile" routerLinkActive="active">User profile</a></li>
    </div>
    <li><a class="menu-item" routerLink="/mushroom-list" routerLinkActive="active">Mushrooms</a></li>
    <li><a class="menu-item" routerLink="/event-list" routerLinkActive="active">Events</a></li>
    <li><a class="menu-item" routerLink="/quizz/1" routerLinkActive="active">Quizz</a></li>
    <li><a class="menu-item" routerLink="/animal-list" routerLinkActive="active">Animals</a></li>
    <div *ngIf="loggedIn && isAdmin">
  
      <li><a class="menu-item" routerLink="/user-list" routerLinkActive="active">User list</a></li>
    </div>
    </ul>
</nav>


