h1{
    background-color: darkgreen;
    color: whitesmoke;
    padding-left: 10px;
}

.footer {
    font-size: 1.5em;
    padding: 8px;
    position: fixed; 
    bottom: -10px;
    left: 0;
    right: 0;

}
