

<div class="bg">
  <br/>
  <br/>
    <div class="container">
        <h1>{{user.username| titlecase}} - {{'UPDATE.Title' | translate}}</h1>
        <a href="#" class="image main" *ngIf="user.photoURL==''"><img src="assets/images/mushroomface.jfif" alt="" width=100% /></a>
        <a href="#" class="image main"><img src="assets/images/{{user.photoURL}}.jpg" alt="" width=100% /></a>
              <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="onSubmit()" [formGroup]="userForm">


            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>password</mat-label>
              <input type="password" matInput formControlName="password" placeholder="Password...">
              <mat-error *ngIf="password.invalid && (password.touched || password.dirty)">
                Please enter between 4 and 20 characters
            </mat-error>
          </mat-form-field>

          <br/>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>password confirmation</mat-label>
            <input type="password" matInput formControlName="passwordConfirmation" value=form.password pattern="{{ password.value }}" placeholder="Password confirmation...">
            <mat-error *ngIf="passwordConfirmation.invalid && (passwordConfirmation.touched || passwordConfirmation.dirty)">
              Password have to match
          </mat-error>
        </mat-form-field>



      
            <br/>
            <div class="buttons text-center">
            <button class="btn btn-success" color="primary" type= "submit" [disabled] = "userForm.invalid">Submit</button>
            <button class="btn btn-warning" (click)="goToProfile()">Cancel</button>
            </div>
        </form>
      
      </div>
      </div>
      </div>
      </div>
      </div>
      <br/>
      <br/>

