
<div class="bg">
    <br/>
    <br/>
    <div class="container">
        <h1>Contact details</h1>
        <h3>Hello {{getData()}}!</h3>   
        <p>If you have a question or request, you can call us or write to us:</p> 
 
        <table class="table table-striped">
            <tbody>
              <tr>
                <td>Name:</td>
                <td>Mushroom lovers PL</td>
              </tr>
              <tr>
                <td>Phone no:</td>
                <td>22 222 22 22</td>
              </tr>
              <tr>
                <td>Cell phone no:</td>
                <td>222 222 222</td>
              </tr>
              <tr>
                <td>email:</td>
                <td>contact@mushroomlovers.pl</td>
              </tr>
              <tr>
                <td>Work hours:</td>
                <td>Mon-Fri 8:00-16:00</td>
              </tr>
              <tr>
                <td>Address: </td>
                <td>Mushroom Street 1, 00-000 Forest, Poland</td>
              </tr>
            </tbody>
          </table>
        <p> Please don't hesitate and contact us</p>
        <br/>

    </div>
    
</div>
<br/>
<br/>
