<div class="bg">
  <br />
  <br />
  <div class="container">
    <h1>{{'CONTACT.Title' | translate}}</h1>
    <h3>{{'CONTACT.Hello' | translate}} {{getData()}}!</h3>
    <p>{{'CONTACT.Intro' | translate}}</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <td>{{'CONTACT.Name' | translate}}</td>
          <td>Mushroom lovers PL</td>
        </tr>
        <tr>
          <td>{{'CONTACT.Phone' | translate}}</td>
          <td>22 222 22 22</td>
        </tr>
        <tr>
          <td>{{'CONTACT.Cell' | translate}}</td>
          <td>222 222 222</td>
        </tr>
        <tr>
          <td>{{'CONTACT.Email' | translate}}</td>
          <td>contact@mushroomlovers.pl</td>
        </tr>
        <tr>
          <td>{{'CONTACT.Work hours' | translate}}</td>
          <td>Mon-Fri 8:00-16:00</td>
        </tr>
        <tr>
          <td>{{'CONTACT.Address' | translate}} </td>
          <td>Mushroom Street 1, 00-000 Forest, Poland</td>
        </tr>
      </tbody>
    </table>
    <p> {{'CONTACT.End' | translate}}</p>
  </div>
</div>