<div class="bg-image">
  <br />
  <br />
  <div class="container">
    <div class="panel-heading">
      <h1>{{'MUSHROOM-LIST.Title' | translate}}</h1>
    </div>
    <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">

      <div class="form-group">
        <label for="mushroomName">mushroom name: </label>
        <br />
        <input ngModel required mushroomName minlength="2" pattern="^[a-zA-Z0-9_]+$" [(ngModel)]="mushroomName"
          name="mushroomName" type="text" placeholder="mushroom name..." #mushroomNameInput="ngModel">
        <button type="submit" class="btn btn-success">Search</button>
        <p class="error-msg" *ngIf="mushroomNameInput.invalid && mushroomNameInput.touched">Please type at least 2
          characters of the name only letters, numbers or underscore</p>
        <button class="btn btn-warning" (click)="mushroomAdd()">Add mushroom</button>
      </div>


    </form>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>other names</th>
            <th>is edible</th>
            <th>tubes</th>
            <th>gills</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mushroom of mushrooms; let i = index" (click)="onSelect(mushroom)">
            <td>{{mushroom.id}}</td>
            <td>{{mushroom.mushroomName | replace : '-' : ' '}}</td>
            <td>{{mushroom.otherNames | replace : '/' : ', '}}</td>
            <td>{{mushroom.edible}}</td>
            <td>
              <div *ngIf="mushroom.tubes=='none'; else elseBlock">no</div>
              <ng-template #elseBlock>yes</ng-template>
            </td>
            <td>
              <div *ngIf="mushroom.gills=='none'; else elseBlock">no</div>
              <ng-template #elseBlock>yes</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <br />
</div>