<div class="bg-image" style="background-image: url('assets/images/{{selectedAnimal.photoURL}}D.jpg');
height: 100%; width: 100%">
    <br/>
    <br/>
      <div class="container">
          <h1>Update Animal Form</h1>
          <a href="#" class="image main"><img src="assets/images/{{selectedAnimal.photoURL}}M.jpg" alt="" width=100% /></a>
          <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="animalForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Animal name</mat-label>
            <input type="text" matInput formControlName="animalName" placeholder="Animal name...">
            <mat-error *ngIf="animalName.hasError('invalidName')">
                Please enter a animal name
            </mat-error> 
            <mat-error *ngIf="animalName.invalid && (animalName.touched || animalName.dirty)">
                Please enter 3-25 letters, only letters
          </mat-error>
        </mat-form-field>

        <br/>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>other names</mat-label>
          <input type="text" matInput formControlName="otherNames" placeholder="other names...">
          <mat-error *ngIf="otherNames.invalid && (otherNames.touched || otherNames.dirty)">
            Please enter 3-100 letters
        </mat-error>
      </mat-form-field>


  
        <br/>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>animal type</mat-label>
          <input type="text" matInput formControlName="animalType" placeholder="animal type...">
          <mat-error *ngIf="animalType.hasError('required')">
              Please enter when
          </mat-error> 
          <mat-error *ngIf="animalType.invalid && (animalType.touched || animalType.dirty)">
            Please enter 3-25 letters
        </mat-error>
      </mat-form-field>
  
    <br/>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>animal size</mat-label>
      <input type="text" matInput formControlName="animalSize" placeholder="animal size...">
      <mat-error *ngIf="animalSize.hasError('required')">
          Please enter where
      </mat-error> 
      <mat-error *ngIf="animalSize.invalid && (animalSize.touched || animalSize.dirty)">
        Please enter 3-250 letters
    </mat-error>
  </mat-form-field>

  <br/>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>description</mat-label>
    <input type="text" matInput formControlName="description" placeholder="description...">
    <mat-error *ngIf="description.hasError('required')">
        Please enter a hat
    </mat-error> 
    <mat-error *ngIf="description.invalid && (description.touched || description.dirty)">
      Please enter 3-250 letters
  </mat-error>
</mat-form-field>

  
<br/>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>photo URL</mat-label>
  <input type="text" matInput formControlName="photoURL" placeholder="photo URL...">
</mat-form-field>
  
  <br/>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>remarks</mat-label>
    <input type="text" matInput formControlName="remarks" placeholder="remarks..." class="heighttext">
  </mat-form-field>
  
        <br/>
        <div class="buttons text-center">
        <button class="btn btn-success" color="primary" type= "submit" [disabled] = "animalForm.invalid">Submit</button>
        <button class="btn btn-warning" (click)="animalDetails(id)">Cancel</button>
        </div>
    </form>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  <br/>
  <br/>
  


