
.bg {

    background-image: url(../../assets/images/forest3D.jpg);
  
    
    height: 100vh;
    width: 100%;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  

  
  .container{
  
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
 
    padding: 20px;
    
    max-width: 800px;

    /* height: 100%; */
 
}

h1 {
    padding: 20px;  
    background-color: forestgreen;
    color: whitesmoke;

    text-align: center;

    border: 1px solid whitesmoke;
    border-radius: 3px;




    margin-top: 20px;

    margin-bottom: 40px;
  
}

li{
  margin-top: 10px;
}

.buttons{
  display: flex;
}



