<div class="bg">
    <br />
    <br />
    <div class="container">
        <h1>{{'HOME.Title' | translate}}</h1>
        <p>{{'HOME.Hello' | translate}} {{getData()}}!</p>
        <p>{{'HOME.Intro' | translate}}</p>
        <ol>
            <li>Never litter in forests.</li>
            <li>If you don't know the mushroom, don't take it.</li>
            <li>Do not destroy the mycelium. Cover the trail of the fungus with mulch, then it will not dry out.</li>
            <li>Give some space to other mushroom pickers. There is enough mushrooms for everyone.</li>
            <li>Do not disturb the animals. Do not shout.</li>
            <li>Do not kick or distoy inedible mushrooms. Animlas can eat some of them.</li>
            <li>You can pick mushrooms, berries, but leave other plants. Some are under protection.</li>
            <li>Better not go alone, if you don't know well area. You can get lost easily in the forest.</li>
            <li> Prepare yourself: take basket, knife, telephone, spray against ticks and mosquitoes, proper cloths &
                hat.</li>
            <li>After mushroom picking check if you didn't have any ticks on you.</li>
        </ol>
        <p> Most important have fun & relax!</p>
        <br />
        <p>What would you like to do today?</p>
        <div class="buttons">
            <button class="btn btn-success" (click)="sendToLogin()">Login?</button>
            <button class="btn btn-warning" (click)="sendToRegister()">Register?</button>
            <button class="btn btn-success" (click)="sendToMushrooms()">See mushrooms?</button>
            <button class="btn btn-warning" (click)="sendToAnimals()">See animals?</button>
            <button class="btn btn-success" (click)="sendToEvents()">Check events?</button>
            <button class="btn btn-warning" (click)="sendToQuizz()">Check your knowledge?</button>
        </div>
    </div>

</div>