

<div class="bg">
    <br/>
    <br/>
      <div class="container">
          <h1>{{user.username| titlecase}} - {{'DETAILS.Title' | translate}}</h1>
          <a href="#" class="image main" *ngIf="user.photoURL==''"><img src="assets/images/mushroomface.jfif" alt="" width=100% /></a>
          <!-- <a href="#" class="image main"><img src="assets/images/{{user.photoURL}}.jpg" alt="" width=100% /></a> -->
          <div *ngIf=retrievedImage>
            <img [src]="retrievedImage" width=100% >
        </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>title</th>
              <th>description</th>
              <th>update</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>name:</td>
              <td>{{user.username}}</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>email</td>
              <td>{{user.email}}</td>
              <td><button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="updateEmail()"><mat-icon>more_vert</mat-icon></button></td>
            </tr>
            <tr>
              <td>password: </td>
              <td>********</td>
              <td><button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="updatePassword()"><mat-icon>more_vert</mat-icon></button></td>
            </tr>
            <tr class="heighttext">
              <td>bio: </td>
              <td>{{user.bio}}</td>
              <td><button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="updateBio()"><mat-icon>more_vert</mat-icon></button></td>
            </tr>
            <tr>
              <td>role: </td>
              <td>{{user.role}}</td>
              <td><button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="updateRole()"><mat-icon>more_vert</mat-icon></button></td>
            </tr>
            <tr>
              <td>photo: </td>
              <td>{{user.photoURL}}</td>
              <td><button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="updatePhoto()"><mat-icon>more_vert</mat-icon></button></td>
            </tr>
          </tbody>
        </table>
  
  
  

    <button mat-icon-button color="green" aria-label="Example icon button with a home icon" (click)="home()"><mat-icon>home</mat-icon></button>
    <button class="btn btn-warning" (click)="updateAll()">Update All Info</button>
    <button *ngIf="isAdmin" (click)="goToAdmin()" class="btn btn-danger">Admin site</button>
    
  </div>
  </div>
  <br/>
  <br/>
