

<div class="bg">
    <br/>
    <br/>
      <div class="container">
          <h1>{{user.username| titlecase}} details</h1>
          <a href="#" class="image main" *ngIf="user.avatarURL==null"><img src="assets/images/mushroomface.jfif" alt="" width=100% /></a>
          <a href="#" class="image main"><img src="assets/images/{{user.avatarURL}}.jpg" alt="" width=100% /></a>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>title</th>
              <th>description</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>name:</td>
              <td>{{user.username}}</td>
            </tr>
            <tr>
              <td>email</td>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <td>password: </td>
              <td>********</td>
            </tr>
            <tr>
              <td>bio: </td>
              <td>{{user.bio}}</td>
            </tr>
            <tr>
              <td>role: </td>
              <td>{{user.role}}</td>
            </tr>
          </tbody>
        </table>
  
  
  
    
    <button class="btn btn-success" (click)="updateUser()">Update</button>
  </div>
  </div>
  <br/>
  <br/>
